* {
    font-family: Inter, sans-serif;
    background-color: #f5f5f5;
}

header {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#ResultAnnouncement {
    border: 2px solid #000;
    background-color: white;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#ElectionSummary {
    text-align: center;
    background-color: white;
    height: var(--summary-height);
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ElectionTableContainer {
    background-color: chartreuse;
    height: calc(100% - var(--summary-height));
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    background-color: #06f;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    grid-area: footer;
    font-size: smaller;
    font-weight: light;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}